body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.nav {
    background-color: #1b7a6a;
    height: 49px;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-bar {
    width: 35px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.nav-menu {
    display: none;
    background-color: #333;
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    padding: 10px;
}

.nav-menu ul {
    list-style-type: none;
    padding: 0;
}

.nav-menu li {
    margin: 10px 0;
}

.nav-menu a {
    color: white;
    text-decoration: none;
}

.nav-menu.active {
    display: block;
}

.menu-bar div {
    width: 100%;
    height: 5px;
    background-color: black;
}

.nav-menu button {
    height: 30px;
    width: 4rem;
    font-size: 1rem;
    color: aqua;
    border: 1.5px solid aqua;
    background-color: #333;
    border-radius: 7px;
}

.nav-menu button:hover {
    cursor: pointer;
    background-color: rgba(170, 246, 246, 0.114);
}

.book {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 49px); /* Full height minus header */
}

.auth-box {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.auth-box h2 {
    margin-bottom: 20px;
}

.auth-box form input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.auth-box form button {
    padding: 10px 20px;
    border: none;
    background-color: #1b7a6a;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s; /* Smooth transition */
}

.auth-box form button:hover {
    background-color: #155e52;
}

.hidden {
    display: none;
}

.toggle-link {
    display: block;
    margin-top: 10px;
    color: #1b7a6a;
    cursor: pointer;
}

.toggle-link:hover {
    text-decoration: underline;
}
